*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: lightskyblue;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkblue;
    transition: 0.5s;
    z-index: 1000;
}

.sticky{
    
}
header .logo{
    position: relative;
    color: white;
    text-decoration: wavy;
    font-size: 3em;
    font-weight: 750;
}

header .nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
    margin: 10px;
}

header ul li a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

header ul li a:hover{
    background-color:cyan;
    color:black;
    box-shadow: 0 0 10px cyan;
}

header  .action .searchBox{
    padding: 6px;
    margin: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 6px;
}

header  .action .searchBox i{
    font-size: 1.5em;
    margin: 6px;
    color: black;
}

header  .action .searchBox input{
    outline: none;
    border: none;
    font-size: 1em;
    color: black;
}

.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .bg{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .bg .content{
    width: 55%;
    height: 100%;
}

.banner .bg .content h2{
    font-size: 6em;
    color: black;
    letter-spacing: 1.2px;
}

.banner .bg .content h2{
    font-size: 3em;
    color: black;
    letter-spacing: 1.3px;
}

.banner .bg .content a{
    display: inline-block;
    padding: 8px 18px;
    margin: 20px 0;
    border: 1px solid darkblue;
    text-decoration: solid;
    font-weight: 700;
    border-radius: 5px;
    color: black;
    letter-spacing: 1.1px;
}

.banner .bg .content a:hover{
    background-color: cyan;
    border: none;
    color: black;
    box-shadow: 0 0 10px cyan;
}

.about{
    position: relative;
    width: 100%;
    min-height: 70vh;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about .contentBox{
    width: 55%;
    margin: 15%;
}

.about .contentBox h2{
    font-size: 10em;
    font-weight: 700;
    color: black;
}

.about .contentBox p{
    max-width: 600px;
    text-align: justify;
    color: black;
}

.about .contentBox a{
    display: inline-block;
    padding: 8px 18px;
    margin: 20px 0;
    border: 1px solid darkblue;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    color: black;
    letter-spacing: 1.1px;
}

.about .contentBox a:hover{
    background-color: cyan;
    border: none;
    color: black;
    box-shadow: 0 0 10px cyan;
}

.Games{
    padding: 0px 100px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px auto;
}

.Games h2{
    color: black;
    margin: 20px 0;
}

.Games ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.Games ul li{
    list-style: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px;
    letter-spacing: 2px;
    cursor: pointer;
    color: black;
}

.Games ul li .active{
    background-color: cyan;
    color: black;
    box-shadow: 0 0 10px cyan;
}

.Games .cardBox .card img{
    width: 70%;
    height: 310px;
    object-fit: cover;
}

.Games .cardBox .card .content{
    padding: 15px;
}

.Games .cardBox .card .content h4{
    color: black;
    margin: 15px 0;
    font-size: 2rem;
}

.Games .cardBox .card .info p{
    font-size: 1.5em;
    color: black;
}

.Games .cardBox .card .info p span{
    color: black;
    font-size: 1.2rem;
}

.Games .cardBox .card .info a{
    display: inline-block;
    padding: 8px 18px;
    margin: 20px 0;
    border: 1px solid darkblue;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    color: black;
    letter-spacing: 1.1px;
}

.Games .cardBox .card .info a:hover{
    background-color: cyan;
    border: none;
    color: black;
    box-shadow: 0 0 10px cyan;
}

.Games .cardBox .card.hide{
    display: none;
}

.tournaments{
    padding: 0px 100px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.tournaments h2{
    color: black;
    margin: 10px 0;
}

.tournaments .boxBox{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tournaments .boxBox .Box{
    width: 300px;
    border-radius: 10px;
    margin: 20px 40px;
}

.tournaments .boxBox .Box img{
    width: 100%;
    height: 200%;
    object-fit: cover;    
}

.tournaments .boxBox .Box .content{
    padding: 10px;
}

.tournaments .boxBox .Box .content .button{
    display: flex;
    justify-content: space-between;
}

.tournaments .boxBox .Box .content .watch{
    display: inline-block;
    padding: 8px 18px;
    margin: 20px 0;
    border: 1px solid darkblue;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    color: black;
    letter-spacing: 1.1px;
}

.tournaments .boxBox .Box .content .watch:hover{
    background-color: cyan;
    border: none;
    color: black;
    box-shadow: 0 0 10px cyan;
}

.tournaments .boxBox .Box .content .join{
    display: inline-block;
    padding: 8px 18px;
    margin: 20px 0;
    border: 1px solid darkblue;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    color: black;
    letter-spacing: 1.1px;
}

.tournaments .boxBox .Box .content .join:hover{
    background-color: cyan;
    border: none;
    color: black;
    box-shadow: 0 0 10px cyan;
}

.contact{
    padding: 20px 100px;
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .form{
    width: 50%;
    margin: 30px;
}

.contact .form .inputBox input,
.contact .form .inputBox textarea{
    border: none;
    outline: none;
    padding: 10px;
    width: 130%;
    color: black;
    background-color: cyan;
    min-height: 20px;
    font-size: 1.2em;
}

.contact .form .inputBox textarea{
    height: 130px;
}

.contact .form .inputBox input[type="submit"]{
    display: inline-block;
    padding: 10px 20px;
    margin: 15px 0;
    outline: none;
    background-color: transparent;
    border: 1px solid darkblue;
    text-decoration: none;
    font-weight: 600;
    width: 150px;
    border-radius: 6px;
    color: black;
    letter-spacing: 0em;
}

.contact .form .inputBox input[type="submit"]:hover{
    background-color: cyan;
    border: none;
    color: black;
    box-shadow: 0 0 10px cyan;
}

footer{
    padding: 10px 100px;
}

footer .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .info .logo{
    position: relative;
    color: black;
    text-decoration: none;
    font-size: 2.2em;
    font-weight: 600;
}

footer .info ul{
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .info ul li{
    list-style: none;
    height: 50px;
    width: 50px;
    margin: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid darkblue;
}

footer .info ul li:hover{
    background-color: cyan;
    border: none;
    box-shadow: 0 0 10px cyan;
}